.storybook-button {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: -.01em;
  line-height: 24px;
  margin-bottom: 0;
  outline: none;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease-out;
  white-space: nowrap;
  width: 288px;
}
.storybook-button--primary {
  color: #141e35;
  background-color: #fdb515;
  border: 2px solid #fdb515;
}
.storybook-button--secondary {
  color: #ffffff;
  background-color: #1472EC;
  border: 2px solid #1472EC;
}

